// Place a copy of this file named config.json into the glycemiq_server directory
// to manage local configuration
{
  "FLASK": {
    "DEBUG": false
  },
  "LOGGING": {
    "LOG_LEVEL": "DEBUG",
    "LOG_FORMAT": "%(asctime)s - %(levelname)s - %(module)s:%(name)s:%(lineno)d - %(message)s"
  }
  "FITBIT": {
    "CLIENT_ID": "",
    "CLIENT_SECRET": "",
    "AUTH_CALLBACK_URL": "",
    "SUBSCRIPTION_VERIFICATION_CODE": ""
  }
}