// Place a copy of this file named config.json into the glycemiq_server directory
// to manage local configuration
{
  "FLASK":{
    "DEBUG": false
  },
  "FITBIT": {
    "CLIENT_ID": "",
    "CLIENT_SECRET": "",
    "AUTH_CALLBACK_URL": "",
    "SUBSCRIPTION_VERIFICATION_CODE": ""
  }
}